{% extends "parcourstats:/templates/layout.jinja2" %}

{% block title %}
    parcourstats
{% endblock title %}

{% block content %}
    <div class="content">
        <p class="lead" style="text-align: center;">Accéder à <a href="{{ menu_url }}">l'application</a></p>
    </div>
{% endblock content %}
