{% extends "layout.jinja2" %}

{% block title %}
    parcourstats - Login
{% endblock title %}

{% block navbar %}
    Login
{% endblock navbar %}

{% block content %}
    <div class="content">
        <div class="card text-center mx-auto login-card">
            <div class="card-header font-bold login-card-header" contenteditable="false">Connexion</div>
            <div class="card-body">
                {% if message %}<p>{{ message }}</p>{% endif %}
                <form action="{{ url }}/login" method="post" id="login_form">
                    <input type="hidden" name="came_from" value="{{ came_from }}"/>
                    <div class="form-group">
                        <label for="login">Login (prenom.nom)</label>
                        <input id="login" type="text" name="login" class="form-control" placeholder="prenom.nom"
                               value="{{ login }}">
                    </div>
                    <div class=" form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" value="{{ password }}" class="form-control"
                               placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn btn-primary" name="form.submitted">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
